@import './general.css';
@import './responsive-setting.css';
@import './progressBar.css';
@import './navbar.css';
 



.smallspan {
    font-family: 'Roboto';
    font-size: 1em;
    color: #858997;
}
.cardtitle {
    font-family: 'Roboto';
    font-size: 1.3em;
    color: black;
    font-weight: 600;
}

.btn-sm {
    font-family: 'Roboto';
    font-size: 1em;
    color:#858997;

}
.brand-title{
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: bold;
}
.borderlr{
    border-left:2px solid #E6E8EE;
    border-right:2px solid #E6E8EE;
    padding-left: 13px;
    padding-right: 13px;
}
.txtresult{
    padding-top: 1em;
    padding-bottom: 1em;
}
.tabmenu{

}
.flleft{
    padding-left: 10px;
}
.flright{
    right: 0;
    float: right;
}
.seperatorr{
    width: 50%;
    height: 1px;
    margin-top:.5em;
    margin-bottom:.5em;
    background:rgb(185, 185, 185); 
     
}
.fllw{
    width:110%;
    margin-right:1em;
}
 .pb3r{
    margin-top: 0;
 }
 .activebutton{
     background: #D6E0FE;
     color:#517AFB;
     border-bottom-left-radius: 0!important;
     border-bottom-right-radius: 0!important;
     border-bottom:1px solid #517AFB;
 }